/* * {
  text-decoration: none; 
  color: rgb(74, 74, 74);
   background: rgb(63, 63, 63); 
}  */

/* article { 
  width: 70%;
  /* background-color: rgb(62, 59, 59); */
  /* margin-top: 20px;
  margin-left: 10em;
  padding: 10px;
  font-size: 14px;
} */

pre {
  background: rgb(36, 35, 35); 
  overflow: auto; 
}