{{ define "index"}}
            
{{ template "header" }}

    <main class="px-3">
    <h1>Present to your attention the bug FATFS of re-mounting the SD card.</h1>
    <p class="lead">
        <article>
            <p>
                If your code works fine, but after reinstalling the SD card,
                it no longer works, most likely you are facing the this problem.
                When reinserting the card. Function <i>f_mount()</i> no longer works, returns an error FR_DISK_ERR.
                to solve the problem, you need to add the function of zeroing the structure field in <i>diskio.c</i>.
             </p>

             <pre>
            <br>
             void disk_DeInitialize (
                BYTE pdrv	/* Physical drive nmuber to identify the drive */
            )
            {
                disk.is_initialized[pdrv] = 0;
            }
            </pre>

            <br>
            <p>Add this function to f_mount, to call it when unmounting a disk. 
            <p>See the project code on <a href="https://github.com/RomanYankov/STM32_FATFS_SDcard_remount" style="color:rgb(117, 108, 244)">github</a>
            </p>

            <br>
            <p>Tutorial: SD card over SPI using STM32CubeIDE and FatFS
            <a href="https://01001000.xyz/2020-08-09-Tutorial-STM32CubeIDE-SD-card/" style="color:rgb(117, 108, 244)">Reference </a> 
            </p>
        </article>
        
        </p>
        
    <p class="lead">
        <a href="#" class="btn btn-lg btn-light fw-bold border-white bg-white">Узнать больше</a>
    </p>
    </main>

    {{ template "footer" }}
            
{{ end }}